<ion-card>
  <ion-card-header>
    <ion-card-title>Übersicht</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item button (click)="incomeClick()">
        <ion-label>Zahlungseingänge</ion-label>
        <app-moneyvaluebadge [value]="incomeSum" credit="true" [currency]="currency" badgeSlot="end" includePrefix="true"></app-moneyvaluebadge>
      </ion-item>
      <ion-item button (click)="outcomeClick()">
        <ion-label>Zahlungsausgänge</ion-label>
        <app-moneyvaluebadge [value]="outcomeSum" debit="true" [currency]="currency" badgeSlot="end" includePrefix="true"></app-moneyvaluebadge>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="expenses">
      <ion-list-header>
        Ausgaben pro Monat
      </ion-list-header>
      <ion-item button *ngFor="let expense of expenses" (click)="expenseClick(expense)">
        <ion-label>{{expense.label}}</ion-label>
        <app-moneyvaluebadge [value]="expense.amount" debit="true" [currency]="currency" badgeSlot="end" includePrefix="true"></app-moneyvaluebadge>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>