<ion-card>
  <ion-card-header>
    <ion-card-title>Übersicht</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <app-moneyvalue name="Zahlungseingänge" [value]="incomeSum" [currency]="currency" badgeSlot="end"></app-moneyvalue>
      </ion-item>
      <ion-item>
        <app-moneyvalue name="Zahlungsausgänge" [value]="outcomeSum" [currency]="currency" badgeSlot="end"></app-moneyvalue>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>