<ion-card>
  <ion-card-header>
    <ion-card-title>Übersicht</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item button (click)="allClick()">
        <ion-label>Alle Transaktionen</ion-label>

        <app-balance-calculation [incomeSum]="incomeSum" [expenseSum]="outcomeSum" [currency]="currency"></app-balance-calculation>
      </ion-item>
      <ion-item button (click)="incomeClick()">
        <ion-label>Zahlungseingänge</ion-label>
        <app-moneyvaluebadge [value]="incomeSum" credit="true" [currency]="currency" badgeSlot="end" includePrefix="true"></app-moneyvaluebadge>
      </ion-item>
      <ion-item button (click)="outcomeClick()">
        <ion-label>Zahlungsausgänge</ion-label>
        <app-moneyvaluebadge [value]="outcomeSum" debit="true" [currency]="currency" badgeSlot="end" includePrefix="true"></app-moneyvaluebadge>
      </ion-item>
      <ion-item button (click)="ignoredClick()">
        <ion-label>Ignorierte Einträge</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="months">
      <ion-list-header>
        Bilanz pro Monat
      </ion-list-header>
      <ion-item button *ngFor="let month of months" (click)="monthClick(month)">
        <ion-label>{{month.label}}</ion-label>

        <app-balance-calculation [incomeSum]="month.incomeSum" [expenseSum]="month.expenseSum" [currency]="currency"></app-balance-calculation>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>