<ion-img src="assets/img/cover.png"></ion-img>
<ion-card-header>
  <ion-card-title>Finanzdaten verdammt einfach auswerten</ion-card-title>
  <ion-card-subtitle><a href="http://github.com/Merzlabs">Ein Merzlabs Pecuniator Project</a></ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  <p> Mit Finanztopf teilen Sie ihre Kontotransaktionen in verschiedene Töpfe ein und sehen so ganz einfach was mit
    ihrem Geld passiert. </p>
  <p>Importieren Sie hier einfach die Daten aus dem Online Banking und dann können Sie beginnen Finanztöpfe nach
    ihren persönlichen Ansprüchen anzulegen. </p>

  <p>
    Achtung! Auf mobile Geräten verstecken sich Aktionen unter den Töpfen die per Wischen eingeblendet werden.
  </p>