<div id="contained">
  <ion-img src="assets/img/cover.png"></ion-img>
  <h1>Finanzdaten simpel und schnell auswerten</h1>
  <h2><a href="http://github.com/Merzlabs">Ein Merzlabs Pecuniator Project</a></h2>
  <p> Mit Finanztopf teilen Sie ihre Kontotransaktionen in verschiedene Töpfe ein und sehen so ganz einfach was mit
    ihrem Geld passiert. </p>
  <p class="highlight">Importieren Sie hier einfach die Daten aus dem Online Banking und dann können Sie beginnen Finanztöpfe nach
    ihren persönlichen Ansprüchen anzulegen. </p>
  <p>
    Achtung! Auf mobile Geräten verstecken sich Aktionen unter den Töpfen die per Wischen eingeblendet werden.
  </p>
</div>