<ion-header>
  <ion-toolbar>
    <ion-title>Topf bearbeiten</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        OK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input placeholder="Name des Topfes" [(ngModel)]="category.title"></ion-input>
  </ion-item>

  <ion-list-header>
    Bedinungen
  </ion-list-header>
  <ion-list>
    <ng-container *ngFor="let c of condtions">
      <ion-item *ngFor="let f of c.filter">
        <ion-label>{{c.property | filter }}</ion-label>
        <ion-input [value]="f" debounce="1000" (ionChange)="setValue($event, c.property, f)" clearInput="true"></ion-input>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-button expand="full" type="button" (click)="addCondition()">Bedingung hinzufügen</ion-button>
</ion-content>
