<ion-header>
  <ion-toolbar>
    <ion-title>
      Finanztopf - Start
    </ion-title>
    <ion-button routerLink="/settings" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>CAMT-Dateien hinzufügen</ion-label>
    <input type="file" multiple id="camtfiles" (change)="handleFileInput($event.target.files)">
    <ion-button fill="clear" (click)="clearCache()" slot="end">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-list-header mode="ios">
      Importierte Dateien
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">{{filecache.fileNameStringConcat}}</ion-label>
    </ion-item>
    <app-savings></app-savings>
    <ion-item routerLink="/tabs/tab3" detail="true">
      <ion-label color="primary">Weiter</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="openBanking()">Online Banking Integration (Klarna)</ion-button>
  <ion-button (click)="x2saService.connectToBank()">XS2A Test mit Sandbox</ion-button>
</ion-content>