<ion-header>
  <ion-toolbar>
    <ion-title>
      Finanztöpfe
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openDownload()">
        <ion-icon name="download" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="saveCategories()">
        Töpfe speichern
        <ion-icon name="save" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="incomeSum > 0 || outcomeSum > 0">
    <ion-card-header>
      <ion-card-title>Übersicht</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Zahlungseingänge</ion-label>
          <ion-badge slot="end" color="success">{{incomeSum.toFixed(2)}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Zahlungsausgänge</ion-label>
          <ion-badge slot="end" color="danger">{{outcomeSum.toFixed(2)}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-list #categorylist>
    <ion-item-sliding *ngFor="let cat of categories; let i = index">
      <ion-item (click)="details(cat)">
        <ion-button fill="clear" class="desktop-button" slot="start" (click)="remove(i); $event.stopPropagation()">
          <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-label>
          {{cat.title}}
        </ion-label>
        <ion-badge>
          {{cat.sum.toFixed(2)}} {{api.accounts[0]?.currency}}
        </ion-badge>
        <ion-button fill="clear" class="desktop-button" slot="end" (click)="edit(cat); $event.stopPropagation()">
          <ion-icon name="pencil-sharp" slot="end"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item-options side="end" (ionSwipe)="edit(cat)">
        <ion-item-option color="danger" (click)="remove(i)">
          Entfernen
        </ion-item-option>
        <ion-item-option color="tertiary" expandable (click)="edit(cat)">
          Editieren
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-button expand="full" type="button" (click)="add()">Topf hinzufügen</ion-button>
  </ion-list>
  
</ion-content>
