<ion-header>
  <ion-toolbar>
    <ion-title>
      Finanztöpfe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="incomeSum > 0 || outcomeSum > 0">
    <ion-card-header>
      <ion-card-title>Übersicht</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Zahlungseingänge</ion-label>
          <ion-badge slot="end" color="success">{{incomeSum}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Zahlungsausgänge</ion-label>
          <ion-badge slot="end" color="danger">{{outcomeSum}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-list #categorylist>
    <ion-item-sliding *ngFor="let cat of categories">
      <ion-item>
        <ion-label>
          {{cat.title}}
        </ion-label>
        <ion-badge>
          {{cat.sum.toFixed(2)}} {{api.accounts[0]?.currency}}
        </ion-badge>
      </ion-item>

      <ion-item-options side="end" (ionSwipe)="edit(cat)">
        <ion-item-option color="tertiary" expandable (click)="edit(cat)">
          Editieren
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
