<ion-header>
  <ion-toolbar>
    <ion-title>
      Finanztöpfe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="incomeSum > 0 || outcomeSum > 0">
    <ion-card-header>
      <ion-card-title>Übersicht</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Zahlungseingänge</ion-label>
          <ion-badge slot="end" color="success">{{incomeSum}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Zahlungsausgänge</ion-label>
          <ion-badge slot="end" color="danger">{{outcomeSum}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item *ngFor="let cat of categories">
      <ion-label>
        {{cat.title}}
      </ion-label>
      <ion-badge>
        {{cat.sum}} {{api.accounts[0]?.currency}}
      </ion-badge>
    </ion-item>
  </ion-list>
  
</ion-content>
