<ion-list *ngIf="entries && entries.length > 0">
  <ion-item *ngFor="let entry of entries">
    <ion-label>
      {{entry.creditorName}}
      <p>{{entry.remittanceInformation}}</p>
      <p>{{entry.bookingDate}}</p>
    </ion-label>
    <app-moneyvaluebadge [value]="entry.amount" [currency]="entry.currency" badgeSlot="end"
      [creditordebit]="entry.creditordebit" includePrefix="true"></app-moneyvaluebadge>
  </ion-item>
</ion-list>

<ion-item *ngIf="entries && entries.length < 1">
  <ion-label>
    Keine Transaktionen
  </ion-label>
</ion-item>