<ion-header>
  <ion-toolbar>
    <ion-title>Transaktionen</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        OK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let entry of category.entries">
      <ion-label>{{entry.creditorName}}</ion-label>
      <ion-note>{{entry.remittanceInformation}}</ion-note>
      <app-moneyvaluebadge [value]="entry.amount" [currency]="entry.currency" badgeSlot="end" [creditordebit]="entry.creditordebit" includePrefix="true"></app-moneyvaluebadge>
    </ion-item>
  </ion-list>

 <ion-item *ngIf="category.entries.length < 1">
    <ion-label>
      Keine Transaktionen
    </ion-label>
  </ion-item>

</ion-content>
